<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yinsang.mapper.AppMessageMapper" >

    <resultMap id="BaseResultMap" type="yinsang.bean.AppMessage" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="message" property="message" jdbcType="VARCHAR" />
        <result column="senddate" property="senddate" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        id, message, senddate
        from appuser_message
        order by senddate asc
    </select>

    <select id="getMessById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        id, message, senddate
        from
        appuser_message
        where id = #{id,jdbcType=VARCHAR}
        order by senddate asc
    </select>

</mapper>